.tidy5e-sheet.application:where(.quadrone.actor) {
  .tidy-tab.effects {
    i.enabled {
      color: var(--t5e-theme-color-darker);
    }

    .inline-activity-arrow {
      padding-inline: 0.25rem;
      align-self: center;
    }
  }

  &.theme-dark {
    .tidy-tab.effects .tidy-table-toggle {
      i.enabled {
        color: var(--t5e-theme-color-highlight);
      }

      i:not(.enabled) {
        color: var(--t5e-color-text-lighter);
      }
    }
  }
}